body{
	margin: 0px;
	padding: 0px;
	background: #C2C2C2;
	/* IE bug treatment (http://www.bluerobot.com/web/css/center1.html): */
	text-align: center; 
}
#container{
	width: 770px;
	background: url(../images/Border.jpg) left top repeat-y;
	font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
	margin: 0px auto; /* centered via auto (left/right set by browser)*/
	padding: 0px;
	/*IE bug treatment (http://www.bluerobot.com/web/css/center1.html):*/
	text-align: left;
}
#header{
	margin: 0px;
	padding: 0px;
	width: 770px;
	height: 84px;
	background: url(../images/Header.jpg) left top no-repeat;
}

#footer{
	margin: 0px auto;
	padding: 0px;
	background: url(../images/Footer.jpg) left top no-repeat;
	width: 770px;
	height: 34px;
}

#horzNav{
	margin: 0px;
	padding: 0px;
	background: url(../images/Navbar.jpg) left top no-repeat;
	width: 770px;
	height: 54px;
	text-align: center;
}
#horzNav ul{
	margin: 0px;
	padding: 14px 0px;
	list-style-type: none;
}
#horzNav li{
	margin: 0px;
	padding: 0px 12px;
	display: inline;
	height: 54px;	
}
#horzNav li a{
	margin: 0px;
	padding: 9px 0px;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
}
#horzNav li a:hover{
	background: url(../../images/HorzLinkArrow.jpg) center top no-repeat;
}
#ExerciseIndex {
        font-size: 80%;
	color: #444;
        float: right;
        margin: 0px 20px;
        padding: 4px 20px;
}
#Instructions {
        font-size: 80%;
	color: #444;
	float: left;
        margin: 0px 20px 15px 20px;
        padding: 0px 20px;
}
#Question {
        font-size: 80%;
	color: #444;
        margin: 0px 20px;
        padding: 0px 20px;
	float: left;
}
#QuestIndex{
	float: right;
}
#Question p{
	color: #000;
	font-size: 110%;
	margin: 20px 0px 8px 0px;
}
#DescBottom{
    position: relative;
    width: 100%;  /* some layout needed here since otherwise IE makes */
                  /* float disappear!, cf. e.g. */
		  /* http://www.satzansatz.de/cssd/rpfloat.html */
}
#learnerInput {
	      margin: 0px 0px 20px 0px;
}
#questionText {
	      color: #000;
	      font-size: 110%;
	      margin: 0px 0px 20px 0px;
}
#InnerQuest input {
	      background-color: #EEE;
}
#specialCharsDiv {
		 float:left;
                 margin-right: 4px;
}

div.specialChars {
		 clear:left;
		 }
div.specialChars input{
/*	font-family: Courier;*/
	color: #222;
	text-align: center;
	background-color: #FFF;
/*	border-style: inset; */
	min-width: 18px;
	padding: 0px;
	margin: 0px;
	float: left;
        font-size: 10px;
}
#submitBtn{
        float: right;
	color: #444;
        margin: 5px 20px;
	}
#nextBtn{
	font-size: 90%;
	background-color: #FFF;
	color: #444;
	clear:right;
	float:right;
	}
#systemFeedbackBtn{
	font-size: 90%;
	background-color: #FFF;
	color: #444;
        margin: 0px 50px;
	}
#systemFeedbackForm{
    clear:both; /* needed for IE */
    position: absolute; 
    bottom: 0pt;
}
#VertSpacer {
	  float: left;
	  height: 200px;
          width:15px;
	  padding: 0px 6px;
	    }
#Feedback {
        font-size: 80%;
	color: #444;
	float: left;
        margin: 0px 20px;
        padding: 0px 20px;
}
#FeedbackTextUnit {
	float: left;
	padding: 0px 20px;
        margin: 0px 0px 10px 0px;
}
#filler{
	margin: 0px;
	padding: 0px;
	height: 0px;
	clear: both;
}
/****** TAG-SPECIFIC ******/
h1 {
	background: url(../images/H1BG.png) top left no-repeat;
	height: 50px;
	width: 770px;
	color: #444;
	padding: 15px 0px 15px 120px;
	margin: 15px 0px 0px 0px;
	font-size: 34px;
	font-weight: normal;
}

