<!-- -*- coding: utf-8 -*- -->

<div id="Instructions">

  <h3>Описание задания <img height="14px" src="../images/usflag.png" alt="English" 		   onmouseout="document.getElementById('InstructionsDisp').innerHTML =
			       document.getElementById('InstructionsRus').innerHTML;"
		   onmouseover="document.getElementById('InstructionsDisp').innerHTML =
				document.getElementById('InstructionsEngl').innerHTML;"/></h3> 

  <div id="InstructionsRus" style="position : absolute; left : -1000px;"> 
    <%= InstructionsRus %>
  </div>

  <div id="InstructionsEngl" style="position : absolute; left : -1000px;">
    <%= InstructionsEngl %>
  </div>

  <div id='InstructionsDisp'>
    <%= InstructionsRus %>
  </div>

</div>
