<div id="loginCont">
  <div id="Login">
    <form action="login" id="LoginForm" target="_self" method="post">
    <table border="0" width="100%" summary="This table is for the Login form.">
      <tr>
	<td colspan="2"><div id="LoginTitle">Login</div></td>
      </tr>
      <tr>
	<td><label>Username</label></td>
	<td><input type="text" name="id" value="" size="11" class="formElement"/></td>
      </tr>
      <tr>
	<td><label>Password</label></td>
	<td><input type="password" name="passwd" value="" size="11" class="formElement"/></td>
      </tr>
      <tr>
	<td>&nbsp;</td>
	<td align="right"><input id="LoginButton" type="submit" name="Submit"  value="Submit" class="formElement"/></td>
      </tr>
    </table>	
  </form>
  </div>
</div>
