/* CSS Document */
body{
	margin: 0px;
	padding: 0px;
	text-align: center;
	background: #C2C2C2;
}
#header{
	margin: 0px;
	padding: 0px;
	width: 770px;
	height: 84px;
	background: url(../images/Header.jpg) left top no-repeat;
}
#container{
	width: 770px;
	background: url(../images/Border.jpg) left top repeat-y;
	font-family: "Trebuchet MS", Arial, Verdana;
	text-align: left;
	margin: 0px auto;
	padding: 0px;
}
#Sidebar{
	margin: 0px;
	padding: 10px 0px 0px 25px;
	float: left;
	clear: right;
	width: 180px;
}
#Sidebar ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	color: #666666;
	font-family: "Trebuchet MS", sans-serif;
}
#loginCont{
	border: 1px solid #000;
	margin: 0px;
	padding: 3px;
}
#LoginTitle{
	margin: 0px;
	padding: 0px 0px 2px 0px;
	font-size: 120%;
}
#Login{
	margin: 0px; 
	padding: 10px 2px 2px 10px;
	background: url(../images/LoginBG.jpg) repeat-x #0054A6;
	color: #fff;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 70%;
}
#Login form{
	margin: 0px;
	padding: 0px;
}
.formElement{
	font-size: 90%;
}
#Msg{
	padding: 0px 0px 5px 0px;
	text-align: center;
	text-decoration: none;
	color: #555555;
	font-size: 70%;
}
#logoutCont{
	border: 1px solid #000;
	margin: 0px;
	padding: 3px;
}
#Logout{
	margin: 0px; 
	padding: 0px;
	background: url(../images/LoginBG.jpg) repeat-x #0054A6;
	text-align: center;
	padding: 5px;
	color: #fff;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 80%;
}
#Logout a{
	padding: 0px;
	color: #fff;
	font-size: 100%;
}
#SideMenu ul li{
	margin: 3px 0px 0px 15px;
	font-size: 90%;
}
#SideMenu a{
	text-decoration: none;
	color: #666666;
}
#SideMenuTitle{
	margin: 0px 0px 0px 0px;
}
#SideMenuSubtitle{
	margin: 10px 0px 5px 0px;
}
#content{
	float: right;
	clear: right;
	margin: 10px 0px 0px 0px;
	padding: 10px 35px 0px 20px;
	font-size: 75%;
	width: 500px;
	border-left: 1px solid #3C546D;
}
#ModActIndex{
	margin: 10px 0px 0px 0px;
	padding: 10px 35px 0px 20px;
}
#ModActIndex h2{
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 20px;
}

#contentFooter{
	background: url(../images/ContentVertLine.jpg) left top no-repeat;
	width: 500px;
	margin: 0px;
	padding: 10px 37px 0px 20px;
	float: right;
	clear: right;
	height: 20px;
}
#filler{
	margin: 0px;
	padding: 0px;
	height: 10px;
	clear: both;
}
#NavTabs {
        font-size: 95%;
        background-color: #FFFFDF;
}
#actList{
        padding: 0px;
	margin: 0px;
	list-style: none;
  	font-weight: normal;
        font-size:80%;
/*        text-indent: -1em; */
}
#actList li{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline;	
}
#actList img{
        width: 18px;
        border: 0;
        padding-top: 6px;
        padding-right: 1px;
}
#footer{
	margin: 0px auto;
	padding: 0px;
	background: url(../images/Footer.jpg) left top no-repeat;
	width: 770px;
	height: 34px;
	left: 0px;
}