@import url("../../include/activity.css");

#container{
	background: url(../images/Border.jpg) left top repeat-y;
}
#header{
	background: url(../images/Header.jpg) left top no-repeat;
}

#footer{
	background: url(../images/Footer.jpg) left top no-repeat;
}
#horzNav{
	background: url(../images/Navbar.jpg) left top no-repeat;
}
#horzNav li a:hover{
	background: url(../../images/HorzLinkArrow.jpg) center top no-repeat;
}
h1 {
	background: url(../images/H1BG.png) top left no-repeat;
}
#Content {
	 text-align: center;
}

#Content img {
	padding: 0px;
	margin: 10px 0px 0px 0px;
}
#Content embed {
        width:50%;
	padding: 0px;
	margin: 10px 0px 5px 0px;
	height: 20px;
}

#Question {
	width: 48%;
        margin: 0px 0px 0px 20px;
        padding: 0px 0px 0px 10px;
}
#learnerInput {
	      width:100%;
}
#Feedback {
	width: 42%;
        font-size: 80%;
	color: #444;
	float: left;
        margin: 0px;
        padding: 0px;
}
