@import url("../../include/activity.css");

#container{
	background: url(../images/Border.jpg) left top repeat-y;
}
#header{
	background: url(../images/Header.jpg) left top no-repeat;
}

#footer{
	background: url(../images/Footer.jpg) left top no-repeat;
}

#horzNav{
	background: url(../images/Navbar.jpg) left top no-repeat;
}
#horzNav li a:hover{
	background: url(../../images/HorzLinkArrow.jpg) center top no-repeat;
}
h1 {
	background: url(../images/H1BG.png) top left no-repeat;
}

#Instructions {
        padding: 0px 20px;
}
#Question form {
	padding: 0px 10px 10px 0px;
}

#wordlist {
    text-align: center;
    font-style: italic; 
    margin: 0px 0px 20px 0px;
}
#questionText {
    margin: 20px 0px;
    line-height: 200%;
}
#Question {
	width: 55%;
        margin: 0px 0px 0px 20px;
        padding: 0px 0px 0px 10px;
}
#learnerInput {
	      width:100%;
}
#Feedback {
	width: 35%;
        font-size: 80%;
	color: #444;
	float: left;
        margin: 0px;
        padding: 0px;
}

