@import url("../../include/activity.css");

#container{
	background: url(../images/Border.jpg) left top repeat-y;
}
#header{
	background: url(../images/Header.jpg) left top no-repeat;
}

#footer{
	background: url(../images/Footer.jpg) left top no-repeat;
}

#horzNav{
	background: url(../images/Navbar.jpg) left top no-repeat;
}
#horzNav li a:hover{
	background: url(../../images/HorzLinkArrow.jpg) center top no-repeat;
}
h1 {
	background: url(../images/H1BG.png) top left no-repeat;
}

#questionText {
    text-align: center;
    margin: 20px 0px;
    line-height: 200%;
}
#Question {
	width: 55%;
        margin: 0px 0px 0px 20px;
        padding: 0px 0px 0px 10px;
}
#learnerInput {
	      width:90%;
              margin:0px 20px;
              display: none;
}
#VertSpacer {
          width:10px;
	    }
#Feedback {
	width: 35%;
        font-size: 80%;
	color: #444;
	float: left;
        margin: 0px;
        padding: 0px;
}


#specialCharsDiv {
    clear: both;
    margin: 20px 0px 0px 20px; 
}

#exemplarTable tr, td{
	padding: 2px;	
}

.tooltip.rule{
	width: 500px;
    height: 300px;
    overflow: auto;	
}

#ShowStatistics{
	text-align: center;
	padding: 6px;
}